<h1>Recipe Form</h1>
<%= render partial: 'form', locals: {recipe: @recipe, ingredients: @ingredients, form_name: "new_recipe", submit_name: "Create Recipe", url: recipes_path, method_type: "POST"} %>
